/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 avr. 2020, 20:24:34
    Author     : Souhaiel
*/

.bodybg{
 -fx-background-image: url('souhaiel.jpg');
 -fx-background-size: 100% 100%;
}